# Node.js
node_modules/
dist/
build/
*.log
.env*
!/.env.local.example

# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
.mypy_cache/
#temp:
uv.lock
pyproject.toml

# Universal
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/
