# Node.js
node_modules/
dist/
build/
*.log
.env*
!/.env.local.example

# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
.mypy_cache/
backend/.gitignore
backend/.git/

# Universal
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/
.gemini/
scripts/

.vercel

gha-creds-*.json

# Kubernetes
*.secret.yaml
secrets.yaml
kubeconfig
